@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");

:root {
  --font-primaria: "IBM Plex Mono", monospace;
  --font-secundaria: "Libre Baskerville", serif;
  --cor-fundo-claro: #f6e7f2;
  --cor-fundo-escuro: #3c093f;
  --cor-font-clara: #ffffff;
  --cor-font-escura: #4a0e2f;
  --cor-destaque: #c25aa7;
}

* {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secundaria);
  background-color: var(--cor-font-clara);
  color: var(--cor-font-escura);
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  padding: 10px;
}



footer {
  text-align: center;
  background-color: var(--cor-fundo-escuro);
  color: var(--cor-fundo-claro);
  padding: 20px;
  border-top: 4px solid var(--cor-destaque);
}

footer .r-linha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer .r-linha-item {
  width: 400px;
}

footer .r-linha-item img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  border: 2px solid var(--cor-destaque);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

footer a {
  text-decoration: none;
  font-size: 30px;
  color: var(--cor-font-escuro);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: var(--cor-destaque);
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

footer a:hover {
  background-color: var(--cor-font-escura);
  color: var(--cor-fundo-claro);
}

.rede-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 800px) {
  footer .r-linha {
    flex-direction: column;
    align-items: center;
  }
}

footer .r-linha-item {
  width: 90%;
}

@media screen and (max-width: 992px) {
  footer .r-linha-item {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  footer a {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }
}
