
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #333;
      scroll-behavior: smooth;
    }

    /* Header */
    header {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 15px 5%;
      background: #3d203c;
      border-bottom: 1px solid #f0ecec;
    }
    header img {
      height: 60px;
    }
    header h1 {
      font-size: 1.8rem;
      margin: 0;
      font-weight: bold;
      color:  #f8f3f8;;
    }
    header p {
      margin: 0;
      font-size: 0.95rem;
      color: #f7f4f4;
    }

    /* Navbar */
    nav a.nav-link {
      font-weight: 500;
      margin: 0 10px;
      transition: color 0.3s;
    }
    nav a.nav-link:hover {
      color: #581a3f;
    }
    .navbar-brand {
      font-weight: bold;
      color:  #7e0e7a; 
    }

    /* Hero */
    #home {
      background: linear-gradient(135deg, rgba(228, 197, 231, 0.9), rgba(255, 255, 255, 0.9));
      text-align: center;
      padding: 100px 20px 80px 20px;
    }
    #home img {
      max-width: 350px;
      border-radius: 15px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.1);
      animation: fadeIn 2s ease-in;
    }
    #home h2 {
      font-size: 2.2rem;
      color:  #3d203c;;
      margin-top: 25px;
      animation: fadeInUp 1.5s ease-in;
    }
    #home p {
      font-size: 1.1rem;
      color: #555;
      margin-top: 15px;
      animation: fadeInUp 2s ease-in;
    }
    .btn-custom {
    
      background: #853f67;; ;
      color: #faf2f2;
      border-radius: 30px;
      padding: 10px 30px;
      transition: 0.3s;
    }
    .btn-custom:hover {
      background: #8c8dc4;
      transform: scale(1.05);
    }

    /* Sections */
    section {
      padding: 80px 0;
    }
    section h2 {
      font-weight: bold;
      color: #362435;
      margin-bottom: 25px;
    }

    /* Cards produtos */
    .card-product {
      border: none;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }
    .card-product:hover {
      transform: translateY(-10px);
    }
    .card-product img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    /* Depoimentos */
    .testimonial {
      background: #531737;
      border-radius: 15px;
      padding: 30px;
      margin: 15px;
      box-shadow: 0 3px 10px rgba(0,0,0,0.05);
      transition: transform 0.3s;
    }
    .testimonial:hover {
      transform: scale(1.02);
    }

    /* Footer */
    footer {
      background: #3d203c;
      color: #fff;
      padding: 40px 20px;
    }
    footer a {
      color: #fff;
      text-decoration: none;
    }
    footer a:hover {
      text-decoration: underline;
    }

    /* Animações */
    @keyframes fadeIn {
      0% { opacity: 0; transform: translateY(-20px);}
      100% { opacity: 1; transform: translateY(0);}
    }
    @keyframes fadeInUp {
      0% { opacity: 0; transform: translateY(30px);}
      100% { opacity: 1; transform: translateY(0);}
    }
